# Python
*.py[cod]
__pycache__/
*.pyo
*.pyd

# Django
*.log
db.sqlite3
/media
/staticfiles

# Virtual Environment
venv/
ENV/
env/
env.bak/
.venv/

# IDEs
.vscode/
.idea/
*.swp

# Pytest
.cache

# Others
*.DS_Store
*.env
